<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
	<head>
		<meta charset="UTF-8">
		<title> باگ فیکسر </title>
		<meta name="googlebot" content="index,follow">
		<meta name="robots" content="noodp,noydir">
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.min.css">
        <link rel="stylesheet" type="text/css" href="css/bugfixer.css">
        <link rel="stylesheet" type="text/css" href="css/public.css">
        <link rel="stylesheet" type="text/css" href="css/page.css">
        <link rel="stylesheet" type="text/css" href="css/user.css">
		<script src="js/jquery.min.js"></script>
	</head>
	<body>
    	<script src="js/modernizr.js"></script>

        <header class="main-header">
            <div class="container">
                <nav>
                    <span><i class="icon-menu-2"></i></span>
                    <div class="inner">
                        <ul>
                            <li><a href=""> تگ ها </a></li>
                            <li><a href=""> پرسش و پاسخ ها </a></li>
                            <li><a href=""> کاربران </a></li>
                            <li><a href=""> راهنمای سایت </a></li>
                        </ul>
                        <div class="clientarea-layer">
                            <div class="loggedin-status">
                                <span> <i class="icon-profile"></i> <span>حساب کاربری شما</span>  </span>
                                <div class="sublayer">
                                    <div class="avatar">
                                        <a href=""><img src="images/pic/avatar.jpg"></a>        
                                        <div>
                                            <span class="fullname"> ایمان مدائنی </span>
                                            <span class="detail"> 123 پرسش | 1236 پاسخ </span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li><a href=""> مشاهده حساب کاربری </a></li>
                                        <li><a href=""> تنظیمات حساب کاربری </a></li>
                                        <li><a href=""> ویرایش حساب کاربری </a></li>
                                        <li><a href=""> تغییر رمز عبور </a></li>
                                        <li><a href=""> پرسش های من </a></li>
                                        <li><a href=""> پاسخ های من </a></li>
                                        <li><a href=""> خروج از حساب کاربری </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="signout-status hidden">
                                <i class="icon-profile"></i>
                                <a href=""> ورود / </a>
                                <a href=""> عضویت </a>
                            </div>
                        </div>  
                    </div>
                </nav>

                <a href="" class="logo"><img src="images/logo-dark.svg"></a>
            </div>
        </header>

        <div class="user-page-style">

            <div class="breadcumb-layer">
                <div class="container">
                    <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                        <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> باگ فیکسر </span></a></li>
                        <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> پروفایل ایمان مدائنی </span></a></li>
                    </ul>
                </div>
            </div>

            <div class="profile-page page-style">

                <div class="container">
                    <!-- introduction -->
                    <div class="user-introduction">
                        <div class="right-side">
                            <a href="" class="avatar">
                                <img src="images/pic/avatar.jpg">
                            </a>

                            <div class="user-info">
                                <div class="user-name">
                                    <h1><a href=""> ایمان مدائنی </a> </h1>
                                    <button> دنبال کنید </button> 
                                    <!-- when user follow this user , show this line  -->
                                    <!-- <button class="followed"> <i class="icon-check"></i> </button> -->
                                </div>
                                <span> Front-end Developer </span>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                </p>
                            </div>
                        </div>
                        <div class="left-side">
                            <div class="inner">
                                <ul>
                                    <li>
                                        <ul>
                                            <li><i>45</i> پرسش </li>
                                            <li><i>21</i> پاسخ </li>
                                            <li><i>1.2K</i> رای </li>
                                        </ul>
                                    </li>
                                    <li><i class="icon-eye"></i><span class="view-profile"><i>896</i> بازدید از پروفایل </span></li>
                                    <li><i class="icon-clock-1"></i><span> عضویت از 4 سال و 3 ماه پیش </span></li>
                                    <li><i class="icon-clock-outline"></i><span class="last-seen"> آخرین فعالیت 1 ساعت پیش </span></li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                    <!-- /introduction -->
                    <!-- information -->
                    <div class="user-information">
                        <ul class="main-tabs">
                            <li class="active"><a href="javascript:void(0)" class="profile-tab"> پروفایل </a></li>
                            <!-- if user has certificate , display this tab -->
                            <li><a href="javascript:void(0)" class="certification-tab"> مدارک من </a></li>
                        </ul>
                        <div class="inner">
                            
                            <!-- tab 1 -->
                            <div class="tab-content-layer active" id="profile-tab">
                                <div class="inner">
                                    <div class="intro">
                                        <h2> ایمان مدائنی </h2>
                                        <p> <a href=""> ایران - </a>  <a href=""> تهران </a> </p>
                                        <p class="title"> Front-end Developer با 7 سال سابقه حرفه ای </p>
                                    </div>

                                    <div class="row">
                                        <!-- top tags -->
                                        <div class="col-xs-12">
                                            <section class="top-tags-layer">
                                                <header> <h3> تگ های برجسته </h3> <span>23</span> </header>
                                                <div class="row">
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                    <!-- item -->
                                                    <div class="col-md-3 col-sm-4 col-xs-6 tag-col">
                                                        <article>
                                                            <h2><a href="">javascript</a></h2>
                                                            <span><i>25</i> پرسش و پاسخ </span>
                                                            <span><i>1.3K</i> رای </span>
                                                        </article>  
                                                    </div>
                                                    <!-- /item -->
                                                </div>

                                                <a href="" class="view-all"><i class="icon-menu-1"></i> مشاهده همه تگ ها ... </a>
                                            </section>
                                        </div>
                                        <!-- / top tags -->
                                        <!-- top answers -->
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <section class="top-post-layer">
                                                <header> <h3> پاسخ های منتخب </h3> <span>1.4K</span> </header>
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">0</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">12/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">0</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">12/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">26</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">26</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <a href="" class="view-all"><i class="icon-menu-1"></i> مشاهده همه پاسخ ها ... </a>
                                            </section>
                                        </div>
                                        <!-- /top answers -->
                                        <!-- top question -->
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <section class="top-post-layer">
                                                <header> <h3> پرسش های برجسته </h3> <span>1.4K</span> </header>
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count">0</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">12/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count">0</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">12/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count answered">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count answered">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count answered">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">26</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count answered">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count answered">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count answered">15</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <!-- item -->
                                                <article>
                                                    <span class="answer-count selected">26</span>
                                                    <h2><a href=""> نحوه ی اکسپورت گرفتن از دیتابیس با php </a></h2>
                                                    <span class="publish-date">10/05/1397</span>
                                                </article>
                                                <!-- item -->
                                                <a href="" class="view-all"><i class="icon-menu-1"></i> مشاهده همه پرسش ها ... </a>
                                            </section>
                                        </div>
                                        <!-- /top question -->
                                    </div>
                                </div>
                            </div>
                            <!--/ tab 1 -->
                            <!-- tab 2 -->
                            <!-- if user has certificate , display this tab -->
                            <div class="tab-content-layer" id="certification-tab">
                                <div class="inner">
                                   <ul>
                                        <li>  مدرک برنامه نویسی مقدماتی ( دانشگاه آزاد جمهوری اسلامی ایران ) </li>
                                        <li>  مدرک طراحی وب پیشرفته ( دانشگاه آزاد جمهوری اسلامی ایران )  </li>
                                        <li>  مدرک برنامه نویسی مقدماتی ( دانشگاه آزاد جمهوری اسلامی ایران ) </li>
                                        <li>  مدرک طراحی وب پیشرفته ( دانشگاه آزاد جمهوری اسلامی ایران )  </li>
                                    </ul>
                                </div>
                            </div>
                            <!--/ tab 2 -->

                        </div>
                    </div>
                    <!-- /information -->
                </div>

            </div>

        </div>  
            
        <footer>
            <div class="top-footer">
                <div class="container">
                    <ul>
                        <li><a href=""> صفحه اصلی </a></li>
                        <li><a href=""> ورود به سایت </a></li>
                        <li><a href=""> عضویت در سایت </a></li>
                        <li><a href=""> لیست آگهی های استخدام </a></li>
                        <li><a href=""> لیست کاربران </a></li>
                        <li><a href=""> لیست تگ ها </a></li>
                        <li><a href=""> ثبت پرسش جدید </a></li>
                        <li><a href=""> قوانین سایت </a></li>
                        <li><a href=""> راهنمای سایت </a></li>
                        <li><a href=""> پر بحث ترین تگ ها</a></li>
                        <li><a href=""> پربازدیدترین آگهی ها </a></li>
                        <li><a href=""> پر امتیازترین کاربران </a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="socials-layer">
                        <a href=""><i class="icon-facebook"></i></a>
                        <a href=""><i class="icon-google-plus"></i></a>
                        <a href=""><i class="icon-instagram-old"></i></a>
                        <a href=""><i class="icon-twitter"></i></a>
                        <a href=""><i class="icon-linkedin"></i></a>
                        <a href=""><i class="icon-telegram"></i></a>
                        <a href=""><i class="icon-rss"></i></a>
                    </div>
                    <div class="copyright">
                        <p>کلیه حقوق مادی و معنوی این سایت متعلق به <a href=""> شرکت برنامه نویسان پیشرو پایدار </a> می باشد . طراحی و برنامه نویسی <a href=""> برنامه نویسان </a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/public.js"></script>
        <script src="js/user.js"></script>
	</body>
</html>
