@{
    Layout = null;
}
<partial name="_HeaderReferences" />
<link rel="stylesheet" type="text/css" href="/css/page.css">

<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul class="breadcrumb">
                <li itemscope="" itemprop="itemListElement">
                    <a href="/"
                       itemprop="item">
                        <span itemprop="name">
                            @PropertyDictionary.LandingPage
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="default">

        <div class="container">

            <div class="right-col">

                <div class="notfound">

                    <header class="top-heading">
                        <p> صفحه مورد نظر یافت نشد</p>
                    </header>

                    <img src="/images/404.svg">

                    <p> ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید </p>
                    <a class="btn btn-primary btn-lg"
                       asp-area=""
                       asp-controller="Home"
                       asp-action="Index">
                        @PropertyDictionary.RerurnHome
                    </a>
                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>