@section Breadcrumb{
    <li itemscope="" itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @PropertyDictionary.Dashboard </span></a></li>

}

<div class="account-content-layer layer-style">
    <h3> تنظیمات حساب کاربری  </h3>
    <div class="inner">
        <form class="form-layer-style">
            <div class="row">

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label><i class="icon-user-shape"></i>  نام و نام خانوادگی </label>
                        <input type="text" name="">
                    </div>
                    <!--/ input -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#birthday-date">
                        <label><i class="icon-calendar"></i>  تاریخ تولد </label>
                        <input type="text" name="" value="" id="birthday-date" data-mddatetimepicker="true" data-placement="right">
                    </div>
                    <!--/ input -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label><i class="icon-mail-envelope"></i>  ایمیل </label>
                        <input type="text" name="">
                    </div>
                    <!--/ input -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label><i class="icon-smartphone"></i>  شماره موبایل </label>
                        <input type="text" name="">
                    </div>
                    <!-- /input -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- select -->
                    <div class="select-layer">
                        <label><i class="icon-maps-and-flags"></i>  کشور </label>
                        <select>
                            <option> ایران  </option>
                            <option> عمان  </option>
                            <option> عربستان  </option>
                            <option> هند  </option>
                            <option> مکزیک  </option>
                        </select>
                    </div>
                    <!-- /select -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- select -->
                    <div class="select-layer">
                        <label><i class="icon-maps-and-flags"></i>  شهر </label>
                        <select>
                            <option> تهران  </option>
                            <option> تهران  </option>
                            <option> تهران  </option>
                            <option> تهران  </option>
                            <option> تهران  </option>
                        </select>
                    </div>
                    <!-- /select -->
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- textarea -->
                    <div class="textarea-layer">
                        <label><i class="icon-document"></i>  توضیحات </label>
                        <textarea> </textarea>
                    </div>
                    <!-- /textarea -->
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- radio selected -->
                    <div class="radio-selected">
                        <span> اطلاع از پاسخ به پرسش من </span>
                        <div class="select">
                            <input type="checkbox" value="1" id="suggest-1" name="">
                            <label for="suggest-1"></label>
                        </div>
                    </div>
                    <!-- /radio selected -->
                    <!-- radio selected -->
                    <div class="radio-selected">
                        <span> دریافت خبرنامه باگ فیکسر </span>
                        <div class="select">
                            <input type="checkbox" value="1" id="suggest-2" name="">
                            <label for="suggest-2"></label>
                        </div>
                    </div>
                    <!-- /radio selected -->
                    <!-- radio selected -->
                    <div class="radio-selected">
                        <span> دریافت خبرنامه تاپ لرن </span>
                        <div class="select">
                            <input type="checkbox" value="1" id="suggest-2" name="">
                            <label for="suggest-2"></label>
                        </div>
                    </div>
                    <!-- /radio selected -->
                    <!-- radio selected -->
                    <div class="radio-selected">
                        <span> دریافت خبرنامه گت ورک  </span>
                        <div class="select">
                            <input type="checkbox" value="1" id="suggest-4" name="">
                            <label for="suggest-4"></label>
                        </div>
                    </div>
                    <!-- /radio selected -->
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                    <button class="submit-button green"> <span>ویرایش اطلاعات</span> </button>
                </div>

            </div>

            <br><br>
            <p> برای استفاده از سایر فیلدها از کدهای زیر استفاده کنید </p>
            <br><br>
            <div class="row">

                <div class="col-xs-12">
                    <div class="alert alert-success">
                        <p> پیغام موفقیت آمیز را در این قسمت نمایش دهید </p>
                    </div>
                    <div class="alert alert-warning">
                        <p> پیغام هشدار را در این قسمت نمایش دهید </p>
                    </div>
                    <div class="alert alert-danger">
                        <p> پیغام خطا را در این قسمت نمایش دهید </p>
                    </div>
                    <div class="alert alert-info">
                        <p> پیغام راهنما را در این قسمت نمایش دهید </p>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- checkbox in one row -->
                    <div class="multi-checkbox-in-row">
                        <div class="checkbox-option">
                            <input type="checkbox" name="" id="chk-1">
                            <label for="chk-1"> چک باکس در یک سطر </label>
                        </div>
                        <div class="checkbox-option">
                            <input type="checkbox" name="" id="chk-2">
                            <label for="chk-2"> چک باکس در یک سطر </label>
                        </div>
                        <div class="checkbox-option">
                            <input type="checkbox" name="" id="chk-3">
                            <label for="chk-3"> چک باکس در یک سطر </label>
                        </div>
                    </div>
                    <!-- /checkbox in one row -->
                    <!-- checkbox in multi row -->
                    <div class="checkbox-layer">
                        <div class="checkbox-option">
                            <input type="checkbox" name="" id="chk-4">
                            <label for="chk-4"> چک باکس در چند سطر </label>
                        </div>
                        <div class="checkbox-option">
                            <input type="checkbox" name="" id="chk-5">
                            <label for="chk-5"> چک باکس در چند سطر </label>
                        </div>
                        <div class="checkbox-option">
                            <input type="checkbox" name="" id="chk-6">
                            <label for="chk-6"> چک باکس در چند سطر </label>
                        </div>
                    </div>
                    <!-- /checkbox in multi row -->
                    <!-- radio in one row -->
                    <div class="multi-radio-in-row">
                        <div class="radio-option">
                            <input type="radio" name="radio" id="rd-1">
                            <label for="rd-1"> رادیو باتن در یک سطر </label>
                        </div>
                        <div class="radio-option">
                            <input type="radio" name="radio" id="rd-2">
                            <label for="rd-2"> رادیو باتن در یک سطر </label>
                        </div>
                        <div class="radio-option">
                            <input type="radio" name="radio" id="rd-3">
                            <label for="rd-3"> رادیو باتن در یک سطر </label>
                        </div>
                    </div>
                    <!-- /radio in one row -->
                    <!-- radio in one row -->
                    <div class="radio-layer">
                        <div class="radio-option">
                            <input type="radio" name="radio2" id="rd-4">
                            <label for="rd-4"> رادیو باتن در چند سطر </label>
                        </div>
                        <div class="radio-option">
                            <input type="radio" name="radio2" id="rd-5">
                            <label for="rd-5"> رادیو باتن در چند سطر </label>
                        </div>
                        <div class="radio-option">
                            <input type="radio" name="radio2" id="rd-6">
                            <label for="rd-6"> رادیو باتن در چند سطر </label>
                        </div>
                    </div>
                    <!-- /radio in one row -->
                </div>

            </div>

        </form>
    </div>
</div>
