<header class="main-header">
    <div class="container">
        <nav>
            <span>
                <i class="icon-menu-2"></i>
            </span>
            <div class="inner">
                <ul>
                    <li>
                        <a href="">
                            تگ ها
                        </a>
                    </li>
                    <li>
                        <a href="">
                            پرسش و پاسخ ها
                        </a>
                    </li>
                    <li>
                        <a href="">
                            کاربران
                        </a>
                    </li>
                    <li>
                        <a href="">
                            راهنمای سایت
                        </a>
                    </li>
                </ul>
                <partial name="_UserHeader" />
            </div>
        </nav>
        <a href=""
           class="logo">
            <img src="images/logo-dark.svg">
        </a>
    </div>
</header>
