<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <title> @ViewData["Title"] </title>
    <partial name="_MetaTags" />
    @await RenderSectionAsync("MetaTags", false)

    <partial name="_HeaderReferences" />
    @await RenderSectionAsync("Styles", false)

</head>
<body>
    <script src="js/modernizr.js"></script>
    @await RenderSectionAsync("Header", true)

    @RenderBody()

    <partial name="_Footer" />
    
    <partial name="_FooterReferences" />
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
