<aside>
    <partial name="_TheMostPopularQuestions" />
    <partial name="_TheLastJobs" />
    <partial name="_TheHotestTags" />

    <div class="banner-layer">
        <a href="">
            <img src="/images/banner.jpg">
        </a>
    </div>
    <div class="banner-layer">
        <a href="">
            <img src="/images/banner-2.jpg">
        </a>
    </div>

</aside>