.validation-error {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: -20px;
}

.mt-50 {
    margin-top: 50px
}

.swal-modal {
    direction: rtl;
}

.swal-title {
    text-align: center;
}

.swal-text {
    text-align: center;
}




.otp-container {
    display: block;
    gap: 10px;
    direction:ltr;
    text-align:center;
}

.otp-input {
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
}


.display-none {
    display: none !important;
}
