@model UserPanelTopHeaderViewModel

<div class="account-heading layer-style">
    <span class="info">
        <i class="icon-user-shape"></i>
        @Model.JobTitle در
        <i class="icon-briefcase"></i>
        @Model.CompanyName از
        <i class="icon-maps-and-flags"></i>
        @Model.CountryTitle
    </span>
    <span class="view">
        @Model.VisitCount بازدید از پروفایل
        <i class="icon-avatar"></i>
    </span>
</div>