@model UserPanelTopHeaderViewModel
@{
    var countrySection = string.IsNullOrWhiteSpace(Model.CountryTitle) ? "" : "از " + Model.CountryTitle;
}
<div class="account-heading layer-style">
    <span class="info">


        @if (!string.IsNullOrWhiteSpace(Model.JobTitle))
        {
            <span>
                <i class="icon-briefcase"></i>
                @Model.JobTitle
            </span>

        }

        @if (!string.IsNullOrWhiteSpace(Model.CompanyName))
        {
            <span>
                <i class="icon-work"></i>
                @Model.CompanyName
            </span>
        }

        @if (!string.IsNullOrWhiteSpace(Model.CountryTitle))
        {
            <span>
                <i class="icon-maps-and-flags"></i>
                @Model.CountryTitle
            </span>

        }
    </span>
    <span class="view">
        @Model.VisitCount بازدید از پروفایل
        <i class="icon-avatar"></i>
    </span>
</div>