@{
    Layout = "_Layout";
    ViewData["Title"] = ViewData["Title"];
}

@section Styles {
    @await RenderSectionAsync("Styles", false)
    <link rel="stylesheet" type="text/css" href="/css/account.css">
    <link rel="stylesheet" type="text/css" href="/common/custom/styles/custom.css">
    <script type="module" src="/js/myScripts/user-profile-scripts.js"></script>

}

@section Header {
    <partial name="_Header" />
}

@section Scripts {
    <script src="/js/modernizr.js"></script>

    <partial name="_UserFooterScripts" />
    @await RenderSectionAsync("Scripts", false)

}

<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul class="breadcrumb">
                <li itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> @PropertyDictionary.LandingPage </span></a></li>
                <li itemscope="" itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @PropertyDictionary.UserPanel </span></a></li>
                @await RenderSectionAsync("Breadcrumb", true)
            </ul>
        </div>
    </div>

    <div class="account-layer">
        <div class="container">
            @await Component.InvokeAsync("UserPanelSidebar")
            <div class="left-side">

                @await Component.InvokeAsync("UserPanelTopHeader")

                @RenderBody()
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>

